@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 62.5%;
}

body {
	@apply bg-primary;
}

.techShowcase {
	animation: customMarquee 20s linear infinite;
}

@keyframes customMarquee {
	from {
		transform: translateX(0);
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
	}

	to {
		transform: translateX(calc(-100% - 7.2rem));
		-webkit-transform: translateX(calc(-100% - 7.2rem));
		-moz-transform: translateX(calc(-100% - 7.2rem));
	}
}

.loader {
	position: relative;
	width: 150px;
	height: 150px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.55);
	border: 1px solid #333;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.loader::before {
	content: "";
	position: absolute;
	inset: 20px;
	background: transparent;
	border: 1px dashed#444;
	border-radius: 50%;
	box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
		inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px dashed#444;
	box-shadow: inset -5px -5px 25px rgba(0, 0, 0, 0.25),
		inset 5px 5px 35px rgba(0, 0, 0, 0.25);
}

.loader span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 100%;
	background: transparent;
	transform-origin: top left;
	animation: radar81 2s linear infinite;
	border-top: 1px dashed #fff;
}

.loader span::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #c227f8;
	transform-origin: top left;
	transform: rotate(-55deg);
	filter: blur(30px) drop-shadow(20px 20px 20px seagreen);
}

@keyframes radar81 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (min-width: 820px) and (max-width: 820px) {
	#roundImage {
		@apply !right-[53%];
	}
}

@media only screen and (min-width: 412px) and (max-width: 470px) {
	#roundImage {
		@apply !right-[16%];
	}
}

@media only screen and (min-width: 470px) and (max-width: 760px) {
	#roundImage {
		@apply !hidden;
	}
}

@media only screen and (max-width: 360px) {
	#roundImage {
		@apply !right-[16%];
	}

	.heroText {
		@apply text-[3rem];
	}
}
